@import "components/_reset.scss";
@import "components/_variables.scss";


body
{
    background-color: $bg-color;
    font-size: 16px;
    color: black;
    font-family: PlayfairDisplay;
    overflow: hidden;
}
.black-out
{
    background: radial-gradient(circle, rgba(0,0,0,0.5), rgba(0,0,0,1));
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
h1
{
    font-weight: 800;
    font-size: 24px;
    padding: 40px;
    color: $light-text;
    text-align: center;
}
.score
{
    padding: 1em;
}
.container
{
    width: 1200px;
    margin : auto;
}
.canvas
{
    overflow: hidden;
    position: relative;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mouse, .cheese, .rotten-cheese, .wine, .cat
{
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mouse             { background-image: url('../img/mouse_makeup.png'); }
.cheese            { background-image: url('../img/cheese.png'); }
.rotten-cheese     { background-image: url('../img/fromage_pourri.png'); }
.wine              { background-image: url('../img/Verre_de_vin.png'); }
.cat              { background-image: url('../img/souris_bourrache.png'); }

.dir0     { transform: rotate(0deg) };
.dir45    { transform: rotate(45deg) };
.dir90    { transform: rotate(90deg) };
.dir135   { transform: rotate(135deg) };
.dir180   { transform: rotate(180deg) };
.dir225   { transform: rotate(225deg) };
.dir270   { transform: rotate(270deg) };
.dir315   { transform: rotate(315deg) };

.obstacle
{
    position: absolute;
    background-color: rgb(48, 56, 47);
}
