@import "components/_reset.scss";
@import "components/_variables.scss";


body
{
    background-color: $bg-color;
    font-size: 16px;
    color: black;
    font-family: PlayfairDisplay;
}

h1
{
    font-weight: 800;
    font-size: 24px;
    padding: 40px;
    color: $dark-color;
    text-align: center;
}

.container
{
    width: 1200px;
    margin : auto;
}

.canvas
{
    position: relative;
    background-image: url('../img/parquet7<3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mouse
{
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url('../img/Mouse_maquillée_carré.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

 .cheese
 {
    position: absolute;
    background-image: url('../img/fromage.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 }
