@import "components/_reset.scss";
@import "components/_variables.scss";


body
{
    background-color: $bg-color;
    font-size: 16px;
    color: black;
    font-family: PlayfairDisplay;
}

h1
{
    font-weight: 800;
    font-size: 24px;
    padding: 40px;
    color: $dark-color;
    text-align: center;
}

.container
{
    width: 1200px;
    margin : auto;
}

.canvas
{
    position: relative;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mouse
{
    position: absolute;
    background-image: url('../img/mouse_makeup.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cheese
{
    position: absolute;
    background-image: url('../img/cheese.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.dirBottom { transform: rotate(180deg) };
.dirLeft { transform: rotate(-90deg) };
.dirTop { transform: rotate(0deg) };
.dirRight { transform: rotate(90deg) };
