$main-color : #ff455b;
$second-color : #505050;
$bg-color : #dddddd;
$dark-color : #222222;

@font-face
{
    font-family: 'PlayfairDisplay';
    font-weight: 400;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);

}
